@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	font-weight: 400;
	margin: 0;
	text-align: center;
	cursor: crosshair;
}

h1, h2 {
	font-weight: 700;
}

#controls, #color-selection {
	display: none;
	position: absolute;
	top: 0;
}

#canvas {
	width: 100%;
}

#color-selection, #controls {
	color: WHITE;
	width: 15%;
	background-image: url("../assets/pattern.png");
	background-color: DARKGRAY;
	box-sizing: border-box;
}

#toolbox {
	color: BLACK;
	list-style: none;
	margin: auto;
	padding: 0;
	width: 75%;
}

.draw-tool {
	background-color: WHITE;
	text-align: left;
	margin: 5px 0;
	padding: 10px 10px;
}

.draw-tool:hover {
	background-color: ORANGE;
}

.active {
	background-color: #666666;
	color: WHITE;
}

#delete {
	border-radius: 5px;
	padding: 5px;
	margin-top: 10px;
}


#colors {
	list-style: none;
	padding: 0 5%;
}

.swatch {
	display: inline-block;
	margin-bottom: 5%;
	width: 45%;
	border-radius: 10px;
}

#colors li:nth-child(odd) {
	margin-right: 5%;
}


@media screen and (max-width: 800px) {
	body {
		font-size: 50%;
	}

	h1, h2 {
		display: none;
	}

	#delete {
		display: none;
	}

	.draw-tool {
		margin: 10px 0;
		padding: 10px 3px;
	}

	.swatch {
		width: 75%;
	}

	#colors li:nth-child(odd) {
		margin-right: 0;
	}
}