@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	font-weight: 400;
	margin: 0;
}

h1, h2 {
	font-weight: 700;
}

#controls, #canvas, #color-selection {
	display: inline-block;
	vertical-align: top;
}

#canvas {
	width: 800px;
	height: 400px;
	border: 1px solid BLACK;
}

#color-selection, #controls {
	color: WHITE;
	width: 200px;
	text-align: center;
	background-image: url("../assets/pattern.png");
	background-color: DARKGRAY;
}

#toolbox {
	color: BLACK;
	list-style: none;
	margin: auto;
	padding: 0;
	width: 75%;
}

.draw-tool {
	background-color: WHITE;
	text-align: left;
	margin: 5px 0;
	padding: 10px 10px;
}

.draw-tool:hover {
	background-color: ORANGE;
}

.active {
	background-color: #666666;
	color: WHITE;
}

#delete {
	margin: 10px 0;
}


#colors {
	list-style: none;
	padding: 0 20px;
}

.swatch {
	display: inline-block;
	margin-bottom: 10px;
	width: 75px;
	height: 75px;
	border-radius: 10px;
}

#colors li:nth-child(odd) {
	margin-right: 10px;
}